#centeredDiv {
    top: 33%;
    left: 50%;
    width:30%;
    height:50%;
    margin-top: -9em;
    margin-left: -15em;
    position: fixed;
}
#centeredDivFields {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
#centeredDivResponses {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}